<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Schedule <%= bookedEntry.id %> </h1>
    <ul>
        <li>Date: <%= bookedEntry.date %> </li>
        <li>Event: <%= bookedEntry.event %> </li>
        <li>Event Description: <%= bookedEntry.eventDescription %> </li>
        <li>Time From: <%= bookedEntry.timeFrom %> </li>
        <li>Time To: <%= bookedEntry.timeTo %> </li>
        <li>Place: <%= bookedEntry.place %> </li>
    </ul>
</body>
</html>