<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <h1 class="title is-1">Schedule <%= bookedEntry.id %> </h1>
    <div>
        <article class="message is-dark">
            <div class="message-header">
                <ul class="menu-list">
                    <p>Details</button>
            </div>

            <li>Date: <%= bookedEntry.date %> </li>
            <li>Event: <%= bookedEntry.event %> </li>
            <li>Event Description: <%= bookedEntry.eventDescription %> </li>
            <li>Time From: <%= bookedEntry.timeFrom %> </li>
            <li>Time To: <%= bookedEntry.timeTo %> </li>
            <li>Place: <%= bookedEntry.place %> </li>
            </ul>
        </article>
        <br>
    </div>
</body>

</html>